[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = git://github.com/golang/net.git
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = git://github.com/grpc/grpc-go.git
[submodule "vendor/github.com/gogo/protobuf"]
	path = vendor/github.com/gogo/protobuf
	url = git://github.com/gogo/protobuf.git
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = git://github.com/golang/protobuf.git
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "vendor/google.golang.org/genproto"]
	path = vendor/google.golang.org/genproto
	url = git://github.com/google/go-genproto.git
